//colors
$orangeButtons: #E6652C;
$orangeButtonHover: #E77F4A;
$greyBackground1: #313131;
$highlightedText: #F4B22A;
$selectedText: #996347;
$greyText: #969696;
$facebook: #3B56A2;
$twitter: #179CEA;
$instagram: #EC2C6A;
$youtube: #D3191E;
$redText: #542729;
$greyBackground2: #1C1C1C;
$highlightedHover: 	#F5BE4A;
$playStationHover: #515151;

